<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Association of Computing Machinery</title>

    {% load static %}
    <meta charset="utf-8">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css" media="screen">

     <!-- Custom CSS -->
    <link href="{% static 'main/css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'main/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    

    <!-- Main content insertion point -->
{% block content %}
{% endblock %}

    <!-- Footer -->
    <div class="container_grey container-fluid bg-1 text-center">
        <p class="footer-company-motto">Association for Computing Machinery</p>
            <p class="footer-links">
                <a href="#">Home</a> . 
                <a href="#">Blog</a> . 
                <a href="#">Pricing</a> . 
                <a href="#">About</a> . 
                <a href="#">Faq</a> . 
                <a href="#">Contact</a> . 
            </p>
        <p class="footer-company-name">UMW ACM &copy; 2017</p>
    </div>


     <!-- jQuery -->
    <script src="{% static '/main/js/jquery.js' %}"></script>
    

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/main/js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>



</body>

</html>
